* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#Header {
  width: 100%;
  min-height: 836px;
  background-image: url(../assets/img/header_pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: visible;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 96px;
}

.nav__container {
  width: 1320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav__logo i {
  color: #2db24a;
  width: 48px;
  height: 48px;
  border: 2px solid #2db24a;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nav__logo span {
  color: white;
  margin-left: 10px;
  font-family: "Barlow", sans-serif;
  font-weight: bolder;
  font-size: 24px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}
.nav__list a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
.nav__list li:not(:first-child) a {
  color: #87909d;
}
.nav__list li:not(:first-child) a:hover {
  color: white;
  transition: all 0.3s ease;
}
.nav__list .nav__active {
  color: white;
}

.nav__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: #2db24a;
  min-width: 218px;
  min-height: 48px;
  border-radius: 24px;
  border: none;
}
.nav__btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

.line__menu {
  display: none;
}

.banner {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.banner__container {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: -200px;
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.banner__left h1 {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}

.banner__right p {
  color: white;
  font-family: "Barlow", sans-serif;
}

.banner__btn {
  margin: 30px auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.banner__btn .banner__btnview {
  min-width: 187px;
  min-height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #2db24a;
  color: white;
  font-family: "Barlow", sans-serif;
  border-radius: 9999px;
  border: none;
  font-size: 16px;
}
.banner__btn .banner__btnview:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.banner__btn .banner__btnchat {
  min-width: 187px;
  min-height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #0e1b2f;
  color: white;
  font-family: "Barlow", sans-serif;
  border-radius: 9999px;
  border: 2px solid white;
  font-size: 16px;
}
.banner__btn .banner__btnchat:hover {
  background-color: #2db24a;
  border: 2px solid #2db24a;
  transition: all 0.3s ease;
}

.photo__container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
}

.photo__items {
  display: flex;
  margin: 0 auto;
  gap: 24px;
}
.photo__items img {
  width: 312px;
  height: 424px;
  object-fit: cover;
}
.photo__items img:nth-child(2) {
  margin-top: 70px;
}
.photo__items img:nth-child(4) {
  margin-top: 70px;
}
.photo__items img:nth-child(6) {
  margin-top: 70px;
}

.banner__btnlight {
  color: white;
  width: 48px;
  height: 48px;
  border: 2px solid white;
  background-color: #2db24a;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  bottom: 5vh;
  right: 3vw;
  position: fixed;
  border-radius: 50%;
}
.banner__btnlight:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

.main__line {
  border: 1px solid #e6e8eb;
}

.about {
  width: 1320px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 664px;
  align-items: center;
  gap: 50px;
  margin-top: 200px;
}
.about figure {
  position: relative;
}
.about figure img {
  width: 648px;
  height: 464px;
  object-fit: cover;
}
.about figcaption {
  width: 196px;
  height: 392px;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  top: 0;
  padding: 25px;
  margin-top: 36px;
  margin-left: 36px;
}
.about hr {
  border: 1px solid #87909d;
}
.about h2 {
  font-family: "Barlow", sans-serif;
  margin-bottom: 10px;
  color: #132238;
}

p {
  font-family: "Barlow", sans-serif;
}

.about__itemleft p {
  color: #87909d;
}

.about__content {
  max-height: 536px;
  min-height: 396px;
  margin: 0 auto;
}
.about__content span {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: #132238;
}
.about__content h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #132238;
}
.about__content p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #132238;
}

.about__icon span {
  margin-right: 10px;
}

.about__btn {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
}
.about__btn .about__btnchat {
  min-width: 187px;
  min-height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  background-color: #2db24a;
  color: white;
  font-family: "Barlow", sans-serif;
  border-radius: 9999px;
  border: 2px solid white;
  font-size: 16px;
}
.about__btn .about__btnchat:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.about__btn i {
  color: #2db24a;
  min-width: 48px;
  min-height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #eaf7ed;
}

.gallery {
  width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

.gallery__title {
  width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.gallery__titlecontent h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 48px;
  color: #132238;
}
.gallery__titlecontent p {
  color: #87909d;
}
.gallery__titlecontent {
  max-width: 561px;
}

.gallery__titlebtn {
  min-width: 173px;
  min-height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #2db24a;
  font-family: "Barlow", sans-serif;
  background-color: white;
  border-radius: 9999px;
  border: 1px solid #2db24a;
  font-size: 16px;
  font-weight: 500;
}
.gallery__titlebtn:hover {
  background-color: #2db24a;
  color: white;
  transition: all 0.3s ease;
}

.gallery__block {
  width: 1320px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 100px;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gallery__itemleft img {
  width: 424px;
  height: 312px;
  object-fit: cover;
}

.gallery__itemcenter img {
  width: 536px;
  height: 480px;
  object-fit: cover;
}

.gallery__itemright img {
  width: 312px;
  height: 228px;
  object-fit: cover;
}

.services {
  width: 1320px;
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
}

.service__title {
  width: 1320px;
  margin: 0 auto;
}
.service__title h2 {
  font-family: "Barlow", sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #132238;
}
.service__title p {
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  max-width: 424px;
  color: #87909d;
}

.service__content {
  display: flex;
  margin-top: 50px;
  justify-content: left;
  gap: 100px;
}

.service__block {
  display: flex;
  flex-direction: column;
  gap: 53px;
  max-width: 536px;
}

.service__items {
  display: flex;
  gap: 20px;
  border: 1px solid #87909d;
  padding: 30px;
}
.service__items img {
  width: 48px;
  height: 48px;
}
.service__items h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: #132238;
}
.service__items p {
  font-family: "Barlow", sans-serif;
  margin-top: 10px;
  color: #87909d;
}
.service__items:hover {
  border: 1px solid #2db24a;
  transition: all 0.3s ease;
}

.service__pic {
  width: 312px;
  height: 505px;
  display: flex;
  gap: 50px;
}

.pricing {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 910px;
  background-color: #f0f1f3;
}
.pricing h2 {
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 50px;
  margin-top: 100px;
}
.pricing h3 {
  color: #2db24a;
  font-size: 28px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
}
.pricing h4 {
  color: #132238;
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}
.pricing p {
  margin-top: 12px;
  color: #87909d;
}

.pricing__container {
  width: 1320px;
  display: flex;
  margin: 0 auto;
  gap: 24px;
}

h4 {
  font-family: "Barlow", sans-serif;
}

.pricing__card {
  width: 424px;
  height: 616px;
  padding: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pricing__card hr {
  margin-top: 32px;
  border: 1px solid #87909d;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__header span {
  font-family: "Barlow", sans-serif;
  color: #2db24a;
  border: 2px solid #eaf7ed;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 999px;
}

.pricing__list {
  margin-top: 32px;
}
.pricing__list li {
  list-style-type: none;
  font-family: "Barlow", sans-serif;
  line-height: 2.5;
  font-weight: 500;
  color: #132238;
}
.pricing__list i {
  min-width: 24px;
  min-height: 24px;
  margin-right: 8px;
  font-size: 24px;
}
.pricing__list .pricing__uncheck {
  text-decoration: line-through;
  color: #87909d;
}

.pricing__btnwork {
  margin-top: 32px;
  min-width: 328px;
  min-height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: #2db24a;
  font-family: "Barlow", sans-serif;
  border-radius: 9999px;
  border: 2px solid #2db24a;
  font-size: 16px;
}
.pricing__btnwork:hover {
  background-color: #2db24a;
  color: white;
  transition: all 0.3s ease;
}

.blog {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 718px;
  margin-top: 100px;
}
.blog h2 {
  font-family: "Barlow", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #132238;
}

.blog__content {
  width: 1320px;
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.blog__content figure {
  position: relative;
  overflow: hidden;
}
.blog__content figure:hover img {
  transform: scale(1.1);
}
.blog__content figure:hover figcaption {
  opacity: 1;
}
.blog__content img {
  width: 424px;
  height: 424px;
  display: block;
  transition: transform 0.5s ease;
}
.blog__content figcaption {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.blog__info p {
  font-family: "Barlow", sans-serif;
  color: #87909d;
  font-size: 14px;
  color: #87909d;
  margin-bottom: 10px;
}
.blog__info h3 {
  font-family: "Barlow", sans-serif;
  color: white;
  font-weight: 500;
  line-height: 1.5;
  font-size: 18px;
  color: white;
  font-weight: 500;
  line-height: 1.5;
}
.blog__info {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
}

.lastest {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}
.lastest h2 {
  font-family: "Barlow", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #132238;
}

.lastest__content {
  width: 1320px;
  display: flex;
  gap: 24px;
  margin-top: 50px;
  flex-wrap: wrap;
}
.lastest__content figure {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0;
  overflow: hidden;
}
.lastest__content figure:hover figcaption {
  opacity: 1;
}
.lastest__content figure:hover img {
  transform: scale(1.1);
}
.lastest__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}
.lastest__content figcaption {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}
.lastest__content figcaption i {
  color: white;
  font-size: 32px;
}

.footer {
  background-color: #f0f1f3;
  min-height: 840px;
}

.contact {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.contact__container {
  width: 1320px;
  background: white;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.contact-content {
  width: 500px;
  padding: 50px 0;
  border-right: 2px solid #e6e8eb;
  margin-right: -40px;
  padding-right: 60px;
}
.contact-content h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;
  font-family: "Barlow", sans-serif;
  color: #132238;
}
.contact-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #87909d;
  font-family: "Barlow", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 24px;
}

.contact-info__items {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contact-info__items img {
  width: 56px;
  height: 56px;
  padding: 16px;
  object-fit: cover;
  border-radius: 50%;
  background: #eaf7ed;
}

.contact-items__content {
  display: flex;
  gap: 6px;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}
.contact-items__content:hover {
  opacity: 0.8;
}
.contact-items__content span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #87909d;
  font-family: "Barlow", sans-serif;
}
.contact-items__content h3 a {
  color: #132238;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

.contact-social h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-family: "Barlow", sans-serif;
  color: #132238;
}
.contact-social {
  background: #eaf7ed;
  padding: 32px;
  margin-top: 33px;
}

.contact-social__items {
  display: flex;
  gap: 12px;
  position: relative;
  padding-left: 36px;
  flex-wrap: wrap;
}
.contact-social__items a {
  width: 48px;
  height: 48px;
  background: white;
  border-radius: 50%;
  color: #2db24a;
  transition: all 0.3s ease;
  font-family: "Barlow", sans-serif;
}
.contact-social__items a:hover {
  background: #2db24a;
  color: white;
}
.contact-social__items a svg {
  width: 16px;
  height: 16px;
}
.contact-social__items a:first-child::before {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #2db24a;
}

.contact-form {
  padding: 50px 0;
  width: 666px;
}
.contact-form h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
  font-family: "Barlow", sans-serif;
  color: #132238;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.contact-form input {
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-family: "Inter", sans-serif;
  padding: 12px 17px;
  border: 1px solid #e6e8eb;
}
.contact-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #87909d;
  font-family: "Inter", sans-serif;
}
.contact-form select {
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #87909d;
  font-family: "Inter", sans-serif;
  padding: 12px 17px;
  border: 1px solid #e6e8eb;
  letter-spacing: -0.2px;
  cursor: pointer;
  appearance: none;
  background: url("../img/contact_caretdown.png") no-repeat right 18px center;
  background-size: 16px 16px;
  word-spacing: 1.5px;
}
.contact-form textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-family: "Inter", sans-serif;
  padding: 12px 17px;
  border: 1px solid #e6e8eb;
  grid-column: 1/-1;
  resize: vertical;
  height: 124px;
  letter-spacing: -1.2px;
}
.contact-form textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #87909d;
  font-family: "Inter", sans-serif;
}
.contact-form input[name=subject] {
  grid-column: 1/-1;
}
.contact-form input[name=email] {
  margin-left: 1px;
}
.contact-form input[name=date] {
  cursor: pointer;
  margin-left: -1px;
  background: url("../img/contact_calendar.png") no-repeat right 17px center;
  background-size: 24px 24px;
}
.contact-form button {
  width: 201px;
  height: 48px;
  background: #2db24a;
  color: white;
  font-weight: 500;
  letter-spacing: -0.4px;
  padding: 12px 0 12px 32px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.3s ease;
}
.contact-form button:hover {
  opacity: 0.8;
}

.footer__nav {
  width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
.footer__nav span {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}
.footer__nav h6 {
  color: #132238;
  font-weight: 400;
  font-size: 12px;
}
.footer__nav a {
  color: #87909d;
}
.footer__nav a:hover {
  color: #132238;
  transition: all 0.3s ease;
}

.footer__list {
  display: flex;
  gap: 20px;
}
.footer__list li {
  list-style: none;
}
.footer__list .footer_active {
  color: #132238;
}

a {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}

h6 {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}

.footer__logo i {
  color: #2db24a;
  width: 48px;
  height: 48px;
  border: 2px solid #2db24a;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.footer__logo span {
  margin-left: 10px;
  font-family: "Barlow", sans-serif;
  color: #132238;
  font-weight: bolder;
  font-size: 24px;
}
