* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-main: "Barlow", sans-serif;
  --color-main: #2db24a;
  --color-sub: #eaf7ed;
  --text-white: white;
  --text-gray: #87909d;
}

/* Header */
#header {
  min-height: 836px;
}

/* Header_Nav */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 96px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}
.nav__container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav__logo i {
  color: var(--color-main);
  width: 48px;
  height: 48px;
  border: 2px solid var(--color-main);
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nav__logo span {
  color: var(--text-white);
  margin-left: 10px;
  font-family: var(--font-main);
  font-weight: bolder;
  font-size: 24px;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}
.nav__list a {
  text-decoration: none;
  font-family: var(--font-main);
  font-weight: 600px;
}
.nav__list li:not(:first-child) a {
  color: var(--text-gray);
}
.nav__list .nav__active {
  color: var(--text-white);
}
.nav__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--text-white);
  background-color: var(--color-main);
  min-width: 218px;
  min-height: 48px;
  border-radius: 24px;
  border: none;
}
.nav__list li:not(:first-child) a:hover {
  color: var(--text-white);
  transition: all 0.3s ease;
}
.nav__btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

/* Header__Banner */
.banner {
  background-image: url(../img/header_pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.banner__container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -150px;
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
.banner__left h1 {
  color: var(--text-white);
  font-family: var(--font-main);
  font-weight: 300;
}
.banner__right p {
  color: var(--text-white);
  font-family: var(--font-main);
}
.banner__btn {
  margin: 30px auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.banner__btn .banner__btnview {
  min-width: 187px;
  min-height: 48px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
  color: var(--text-white);
  font-family: var(--font-main);
  border-radius: 9999px;
  border: none;
  font-size: 16px;
}
.banner__btn .banner__btnchat {
  min-width: 187px;
  min-height: 48px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #0e1b2f;
  color: var(--text-white);
  font-family: var(--font-main);
  border-radius: 9999px;
  border: 2px solid var(--text-white);
  font-size: 16px;
}
.banner__btn .banner__btnview:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

/* Header__photo */
.photo__container {
  display: flex;
  justify-content: center;
  margin-top: -250px;
  overflow-x: hidden;
}

.photo__items {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.photo__items img {
  width: 312px;
  height: 424px;
  object-fit: cover;
}

.photo__items img:nth-child(2),
.photo__items img:nth-child(4),
.photo__items img:nth-child(6) {
  margin-top: 70px;
}
.banner__btnlight {
  color: var(--text-white);
  width: 48px;
  height: 48px;
  border: 2px solid var(--text-white);
  background-color: var(--color-main);
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  bottom: 5vh;
  right: 3vw;
  position: fixed;
  border-radius: 50%;
}
.banner__btnlight:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
/* Main-;ine */
.main__line {
  border: 1px solid var(--text-gray);
}
/* About */
.about {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  min-height: 664px;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.about figure {
  position: relative;
}
.about figure img {
  width: 648px;
  height: 464px;
  object-fit: cover;
}
.about figcaption {
  width: 196px;
  height: 392px;
  background-color: var(--text-white);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  top: 0;
  padding: 25px;
  margin-top: 36px;
  margin-left: 36px;
}
.about hr {
  border: 1px solid var(--text-gray);
}
.about h2,
p {
  font-family: var(--font-main);
}
.about h2 {
  margin-bottom: 10px;
}
.about__content {
  max-height: 536px;
  min-height: 396px;
  margin: 0 auto;
}
.about__content span {
  font-family: var(--font-main);
  font-weight: 500;
}
.about__content h2 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about__content p {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.about__btn {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
}
.about__btn .about__btnchat {
  min-width: 187px;
  min-height: 48px;
  display: inline-flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
  color: var(--text-white);
  font-family: var(--font-main);
  border-radius: 9999px;
  border: 2px solid var(--text-white);
  font-size: 16px;
}
.about__btn i {
  color: var(--color-main);
  min-width: 48px;
  min-height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid var(--color-sub);
}

.about__btn .about__btnchat:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

/* Gallery */
.gallery__title {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.gallery__titlecontent h2,
p {
  font-family: var(--font-main);
}
.gallery__titlecontent h2 {
  font-weight: 400;
  margin-bottom: 20px;
}
.gallery__titlecontent {
  max-width: 561px;
}
.gallery__titlebtn {
  min-width: 173px;
  min-height: 48px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: var(--color-main);
  font-family: var(--font-main);
  background-color: var(--text-white);
  border-radius: 9999px;
  border: 1px solid var(--color-main);
  font-size: 16px;
  font-weight: 500;
}
.gallery__titlebtn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
